<div class="cube">
        
        <p class="name">Тема: {{title}}</p>
        <hr>
        <p>Класификация: {{classification}}</p> 
        <a class="btn" href="/details/{{id}}">Подробности</a>
      </div>