<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/static/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/static/images/information-icon.png"></li>
        <li><a href="/">Разгледай справките</a></li>
        <li><a href="/create">Добави справка</a></li>
        <li><a href="/about">За приложението</a></li>
      </ul>
    </header>
    <main>
      {{{body}}}

    </main>
  </div>
  <footer>Справочен отдел</footer>
</body>

</html>