
    <main>
      <h1>Инструкции</h1>
      <div class="about">
        <p>
          За да създадете справка, задайте линк към съдържанието, качено в репозиториума на адрес:
          <a href="https://drive.google.com/drive/my-drive" target="_blank">Качете файла тук</a>.</p>
      </div>
    </main>
  