<main>

  <form action="/" method="GET">
    <input type="text" class="search" name="search" placeholder="Търсене по дума от тема" value={{search}}>
    <input type="submit" value="Търси">
  </form>
  {{#each refs}}
  {{> ref}}
  {{else}}
  <span>Няма записи в базата.<a href="/create">Създай нов запис</a></span>
  {{/each}}


</main>