 <table>
  <tr>
    <th>Класификация</th>
    <th>Ретроспективни библиографски справки</th>
  </tr>

 
      {{#each clasif}}
      <tr><td>{{@key}}</td><td>{{this}}</td></tr>
    {{/each}}

    
  </tr>
  
</table> 