 <table>
  <tr>
    <th>Класификация</th>
    <th>Ретроспективни библиографски справки</th>
  </tr>

 
      {{#each rowClass}}
      <tr><td>{{this}}</td><td>Брой</td></tr>
    {{/each}}

    
  </tr>
  
</table> 